<div class="max-w-full">
    
<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfjdgscfIh1A8Lw8v6kt1bKG0r6SslzOz7Gcgcli6Kx57XKbg/viewform?usp=header">
<div class="overflow-hidden transition-shadow duration-300 bg-white rounded">
    <img src="/images/web-dev-banner.jpg" class="object-cover w-full h-64 rounded" alt="Web development course" />
    <div class="py-5">
    <p class="text-2xl font-bold leading-5">15 week web development program</p>
    <p class="mb-4 text-gray-700">
        New cohort starts first monday of every month!
    </p>
    <div aria-label="button" class="mx-auto w-full text-center bg-black text-white font-bold px-4 py-2 rounded">
        Enroll now
    </div>
    </div>
</div>
</a>

</div>
